<a href="https://colab.research.google.com/github/jwoods4815/ClassNotes-LCATC/blob/main/Python_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting started with Python.
### Variables (Numbers)

In [1]:
# This is a comment
# Starts with a hashtag
# Ignored and not executed

# To assign a variable you give it a name and use the assignment operator '=' and then value

#Integers

first_number = 350

second_number = 245

print (first_number)
print (second_number)

# Arithmetic Operators
# + - * / // %

#Addition
the_sum = first_number + second_number

print ("This is the result of adding 350 and 245")
#print (first_number + second_number)
print (the_sum)

print ("350 minus 245 is: ")
print (first_number - second_number)

print ("350 mulitplied by 245 is: ")
print (first_number * second_number)

print ("350 divided by 245 with float division: ")
print (first_number / second_number)

print ("350 divided by 245 with floor division: ")
print (first_number // second_number)

print ("350 divided by 245 with modulo (remainder) division: ")
print (first_number % second_number)

350
245
This is the result of adding 350 and 245
595
350 minus 245 is:
105
350 mulitplied by 245 is:
85750
350 divided by 245 with float division:
1.4285714285714286
350 divided by 245 with floor division:
1
350 divided by 245 with modulo (remainder) division:
105

###Variables (Strings)

Strings contain words, phrases, text.

In [3]:
first_string = "This is some text. \"Quotes can be slashed out\""

second_string = 'More Text, "With the quotes".'

third_string = '''I found this information on the web.
I'm paraphrasing here: While Python primarily uses
the # symbol for single-line comments, triple quotes
can be used to create multi-line comments.
The words, etc inside these qoutes are strings
that aren't assigned to a variable, so they don't
have any effect on the program's execution.....
So I suppose they are strings which are not
 assigned to any variables'''

my_name = "Jason"
my_age = 25

fourth_string = f'My name is {my_name} and my age is {my_age}'

print (first_string, second_string)
print (third_string)
print (fourth_string)

This is some text. "Quotes can be slashed out" More Text, "With the quotes".
I found this information on the web.
I'm paraphrasing here: While Python primarily uses
the # symbol for single-line comments, triple quotes
can be used to create multi-line comments.
The words, etc inside these qoutes are strings
that aren't assigned to a variable, so they don't
have any effect on the program's execution.....
So I suppose they are strings which are not
 assigned to any variables
My name is Jason and my age is 25

Lists, dictionaries, tuples, and sets.

In [4]:
#Lists

groceries = ["Milk","eggs", "flour", "cocoa","sugar", 43, True, ["Candy bars", "Chips"]]

print (groceries)

#Dictionaries

grocery_prices = {
    "milk": 35,
    "eggs": 95,
    "bread": 120
}

print (grocery_prices)

milk_price = f'These eggs is gonna cost {grocery_prices["eggs"]} dollars!!!'

print(milk_price)

['Milk', 'eggs', 'flour', 'cocoa', 'sugar', 43, True, ['Candy bars', 'Chips']]
{'milk': 35, 'eggs': 95, 'bread': 120}
These eggs is gonna cost 95 dollars!!!

#Control Structures

### IF statements

In [11]:
#Comparison operators
#
# < > == !=

big_number = 4

small_number = -4


if big_number > small_number:
  print ("Yes it is")
  print (f'{small_number} is not bigger than {big_number}')
else:
  print ("No it ain't")

Yes it is
-4 is not bigger than 4

#Loops

A lot of data types in python are "iterables". Meaning the items in the data type can be looped one after the other.

In [15]:
for item in groceries:
  print(f'The item in the list "{item}" is the {type(item)} data type')

The item in the list "Milk" is the <class 'str'> data type
The item in the list "eggs" is the <class 'str'> data type
The item in the list "flour" is the <class 'str'> data type
The item in the list "cocoa" is the <class 'str'> data type
The item in the list "sugar" is the <class 'str'> data type
The item in the list "43" is the <class 'int'> data type
The item in the list "True" is the <class 'bool'> data type
The item in the list "['Candy bars', 'Chips']" is the <class 'list'> data type